:root {
    --color-font: #E1FCFD;
    --color-background: #28559A;
    --color-button: #edb5bf;
    --color-button-font: #5f6366;
    --color-button-border: #E1FCFD;
    --color-table-border: #E1FCFD;
    --font-family: 'Trebuchet MS';
    --color-header-font: #66fcf1;
}