@import './Assets/color-scheme.css';

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: var(--font-family);
  color: var(--color-font);
  background-color: var(--color-background);
  text-align: center;
}

header{
  font-weight: bolder;
  font-size: xx-large;
}

button {
  font-family: var(--font-family);
  font-weight: bolder;
  color: var(--color-button-font);
  background-color: var(--color-button);
  display: inline-block;
  max-width: 200px;
  padding: 10px;
  margin: 16px;
  border-radius: 10px;
  border-color: var(--color-button-border);
  box-shadow: 1px 1px 8px -4px #000000;
}

select {
  color: var(--color-button-font);
  font-family: var(--font-family);
}

input {
  color: var(--color-button-font);
  font-family: var(--font-family);
}

a {
  color: var(--color-button);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
